services:
    mii-aktin-report-client:
        #image: ghcr.io/medizininformatik-initiative/mii-site-report-site-client:0.5.0
        build: .
        environment:
            - FHIR_BASE_URL=${MII_REPORT_CLIENT_FHIR_BASE_URL}
            - FHIR_USER=${MII_REPORT_CLIENT_FHIR_USER}
            - FHIR_PW=${MII_REPORT_CLIENT_FHIR_PW}
            - FHIR_PROXY_HTTP=${MII_REPORT_CLIENT_FHIR_PROXY_HTTP}
            - FHIR_PROXY_HTTPS=${MII_REPORT_CLIENT_FHIR_PROXY_HTTPS}
            - FHIR_TOKEN=${MII_REPORT_CLIENT_FHIR_TOKEN}
            - AKTIN_HTTPS_PROXY=${MII_REPORT_CLIENT_AKTIN_HTTPS_PROXY}
            - BROKER_ENDPOINT_URI=${MII_REPORT_BROKER_ENDPOINT_URI}
            - CLIENT_AUTH_PARAM=${MII_REPORT_CLIENT_AUTH_PARAM}
            - SEND_REPORT=${MII_REPORT_CLIENT_SEND_REPORT}
        volumes:
            - ./report-queries.json:/opt/reportclient/report-queries.json
            - ./reports:/opt/reportclient/reports
